<a href="https://colab.research.google.com/github/jeancgarciaq/jeancgarciaq.github.io/blob/main/Proyecto2AnalisisPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
'''
def calculate_demographic_data(print_data=True):

    # Read data from file
    df = None
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = None

    # What is the average age of men?
    average_age_men = None

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = None

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count)
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage': highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }
  '''

'\ndef calculate_demographic_data(print_data=True):\n\n    # Read data from file\n    df = None\n    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.\n    race_count = None\n\n    # What is the average age of men?\n    average_age_men = None\n\n    # What is the percentage of people who have a Bachelor\'s degree?\n    percentage_bachelors = None\n\n    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?\n    # What percentage of people without advanced education make more than 50K?\n\n    # with and without `Bachelors`, `Masters`, or `Doctorate`\n    higher_education = None\n    lower_education = None\n\n    # percentage with salary >50K\n    higher_education_rich = None\n    lower_education_rich = None\n\n    # What is the minimum number of hours a person works per week (hours-per-week feature)?\n    min_work_hours = None\n\n    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?\n    num_min_workers = None\n\n    rich_percentage = None\n\n    # What country has the highest percentage of people that earn >50K?\n    highest_earning_country = None\n    highest_earning_country_percentage = None\n\n    # Identify the most popular occupation for those who earn >50K in India.\n    top_IN_occupation = None\n\n    # DO NOT MODIFY BELOW THIS LINE\n\n    if print_data:\n        print("Number of each race:\n", race_count)\n        print("Average age of men:", average_age_men)\n        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")\n        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")\n        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")\n        print(f"Min work time: {min_work_hours} hours/week")\n        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")\n        print("Country with highest percentage of rich:", highest_earning_country)\n        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")\n        print("Top occupations in India:", top_IN_occupation)\n\n    return {\n        \'race_count\': race_count,\n        \'average_age_men\': average_age_men,\n        \'percentage_bachelors\': percentage_bachelors,\n        \'higher_education_rich\': higher_education_rich,\n        \'lower_education_rich\': lower_education_rich,\n        \'min_work_hours\': min_work_hours,\n        \'rich_percentage\': rich_percentage,\n        \'highest_earning_country\': highest_earning_country,\n        \'highest_earning_country_percentage\': highest_earning_country_percentage,\n        \'top_IN_occupation\': top_IN_occupation\n    }\n  '

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/adult.data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.head(100)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,29,Local-gov,115585,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,<=50K
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
98,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K
99,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K

In [ ]:
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()
    race_count = pd.Series(race_count, index=df['race'].unique())
    print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [ ]:
# What is the average age of men?
average_age_men = df[df['sex'] == 'Male']['age'].mean()
print(int(average_age_men))

39

In [ ]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = df[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100
percentage_bachelors = round(percentage_bachelors, 2)
print(percentage_bachelors)

16.45

In [ ]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
percentage_advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & (df['salary'] == '>50K')].shape[0] / df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0] * 100
percentage_advanced_education = round(percentage_advanced_education, 2)
print(percentage_advanced_education)

46.54

In [ ]:
# What percentage of people without advanced education make more than 50K?
percentage_lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & (df['salary'] == '>50K')].shape[0] / df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0] * 100
percentage_lower_education = round(percentage_lower_education, 2)
print(percentage_lower_education)

17.37

In [ ]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0] / df.shape[0] * 100
higher_education = round(higher_education, 2)
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0] / df.shape[0] * 100
lower_education = round(lower_education, 2)

print(higher_education)
print(lower_education)

23.01
76.99

In [ ]:
# percentage with salary >50K
higher_education_rich = percentage_advanced_education
lower_education_rich = percentage_lower_education

print(higher_education_rich)
print(lower_education_rich)

46.54
17.37

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
count_people = df[df['hours-per-week'] == min_work_hours].value_counts().sum()
num_min_workers = df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50k')].shape[0] / df.shape[0] * 100
num_min_workers = round(num_min_workers, 2)
print(num_min_workers)

0.0

In [ ]:
paises_conteo = df[df['salary'] == '>50K']['native-country'].value_counts()
print(paises_conteo)

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: count, dtype: int64

In [ ]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df[df['salary'] == '>50K']['native-country'].value_counts().idxmax()
#What is the percentage rich people in this country
highest_earning_country_percentage = df[(df['native-country'] == highest_earning_country) & (df['salary'] == '>50K')].shape[0] / df[df['native-country'] == highest_earning_country].shape[0] * 100
highest_earning_country_percentage = round(highest_earning_country_percentage, 2)

print(highest_earning_country)
print(highest_earning_country_percentage)

United-States
24.58

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()
print(top_IN_occupation)

Prof-specialty